<center><%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :patient_name %>
    <%= form.text_field :patient_name, id: :patient_patient_name %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_field :dob, id: :patient_dob, max: Date.today %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :patient_address %>
  </div>

  <div class="field">
    <%= form.label :phone_no %>
    <%= form.number_field :phone_no, id: :patient_phone_no %>
  </div>

  <div class="field">
    <%= form.label :special_observation %>
    <%= form.text_field :special_observation, id: :patient_special_observation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %></center>
