<%= form_with(model: hospital, local: true) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
      <% hospital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hospital_name %>
    <%= form.text_field :hospital_name, id: :hospital_hospital_name %>
  </div>

  <div class="field">
    <%= form.label :hospital_address %>
    <%= form.text_field :hospital_address, id: :hospital_hospital_address %>
  </div>

  <div class="field">
    <%= form.label :hospital_phone %>
    <%= form.number_field :hospital_phone, id: :hospital_hospital_phone %>
  </div>

  <div class="field">
    <%= form.label :hospital_email %>
    <%= form.text_field :hospital_email, id: :hospital_hospital_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
